@import './../../../assets/css/mains.scss';

span, input, button { 
   @include spanInputButtonDefault;
}

span, p {
    @include spanDefault;
}
button { 
    background: $cinza; 
    border: 1px solid rgba(0, 0, 0, .2); 
    border-radius: 50px; 
    color: rgba(0, 0, 0, .2); 
    padding: 10px 40px; 
    transition: color 2s ease-out, border 2s ease-out; 
    -webkit-transition: color 2s ease-out, border 2s ease-out; 
    -moz-transition: color 2s ease-out, border 2s ease-out; 

    &:hover {
        background: $cinza; 
        border: 1px solid rgba(0, 0, 0, 1); 
        color: rgba(0, 0, 0, 1); 
        text-decoration: underline; 
        transition: color 2s ease-out, border 2s ease-out;  
        -webkit-transition: color 2s ease-out, border 2s ease-out; 
        -moz-transition: color 2s ease-out, border 2s ease-out;  
    }
}



.kz_mensagemErro  img { height: 400px; width: 400px; border-radius: 50%; border: 1px solid $verde; }

.btn { display: inline-block }

.render img { margin: 10px auto }


@media only screen and (max-width: 1049px){ 

    .item-dentro {     
        max-width: 60%;
    }

}
