<div class="row">

    <div class="render text-center col-xs-12" *ngIf="shotEncontrado">
        <img class="item-dentro" src="{{shotEncontrado.images.normal}}" />
        <button class="btn kz_voltar" (click)="goBack()">Voltar</button>
    </div>

    <div class="mensagemErro col-xs-12 text-center" *ngIf="errorMessage">
        <img src="https://kmkz.000webhostapp.com/not_found.jpg">
        <p class="error">Erro ao pesquisar o shot: {{shotSelect}}!</p>
        <p>Clique em voltar realize uma nova pesquisa!</p>
        <button class="btn kz_voltar" (click)="goBack()">Voltar</button>
    </div>

</div>