@import './_colors.scss';

  
.arrow, .arrowLeft, .arrow:before, .arrowLeft:before {
  position: absolute;
  //left: 50%;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 50%;
  //margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: 2px $verde solid;
  border-right: 2px $verde solid;
  border-bottom: none;
}

  
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: 1px $verde solid;
  border-right: 1px $verde solid;
  border-bottom: none;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

.arrowLeft {
  width: 30px;
  height: 30px;
  top: 50%;
  //margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  border-left: 2px $verde solid;
  border-top: none;
  border-right: none;
  border-bottom: 2px $verde solid;
  
}

.arrowLeft:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -13px 0 0 -6px;
  border-left: 1px $verde solid;
  border-top: none;
  border-right: none;
  border-bottom: 1px $verde solid;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: arrowLeft;

  
}
  
@keyframes arrow{
    0%{
        opacity: 1;
    }
  100%{
        opacity: 0;
        transform: translate(10px, -10px);
  }
}

@keyframes arrowLeft{
    0%{
        opacity: 1;
    }
  100%{
        opacity: 0;
        transform: translate(-10px, 10px);
  }
}
  