<table class="bordered centered responsive-table">
    <thead>
        <tr>
            <th>Shot</th>
            <th>Shot</th>
            <th>Shot</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="https://cdn.dribbble.com/users/108083/screenshots/3615320/rhymesayers_800x600_teaser.jpg" alt=""></td>
            <td><img src="https://cdn.dribbble.com/users/218750/screenshots/3614025/girl_teaser.png" alt=""></td>
            <td><img src="https://cdn.dribbble.com/users/952958/screenshots/3614389/style-dribbble_teaser.png" alt=""></td>
        </tr>
        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>
        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>
    </tbody>
</table>