<table class="bordered centered responsive-table">
    <thead>
        <tr>
            <th>Shot</th>
            <th>Shot</th>
            <th>Shot</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>
        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>
        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>
    </tbody>
</table>