<table class="bordered centered responsive-table">
    <thead>
        <tr>
            <th>Shot</th>
            <th>Shot</th>
            <th>Shot</th>
        </tr>
    </thead>
    <tbody>
        

        <tr ng-repeat="item in listaDeShots">
            <td>{{item}}</td>
        </tr>
        <!--  <a class="collection-item" *ngFor="let shot of listashots" [routerLink]="['/cursos/curso', curso.id]">{{curso.nome}}</a>

        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>
        <tr>
            <td>Shot</td>
            <td>Shot</td>
            <td>Shot</td>
        </tr>-->
    </tbody>
 
</table>