<div class="col-sm-6 col-sm-offset-3 kz_car">
  <carousel class="text-center">
    <slide>
      <img class="img-main-carousel" src="./../../assets/img/Orgrimmar.jpg" alt="First slide">
      <div class="carousel-caption localAvatar">
        <img class="avatar" src="./../../assets/img/avatarthrall.png" alt="">
        <span>"Strength and honor!"</span>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="./../../assets/img/Undercity.jpg" alt="Second slide">
      <div class="carousel-caption localAvatar">
        <img class="avatar" src="./../../assets/img/avatarsilvanas.png" alt="">
        <span>"What do you ask of death?"</span>
      </div>
    </slide>
        <slide>
      <img class="img-main-carousel" src="./../../assets/img/BlackTemple.jpg" alt="Third slide">
      <div class="carousel-caption localAvatar">
        <img class="avatar" src="./../../assets/img/avatarillidan.png" alt="">
        <span>"You are not prepared!"</span>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="./../../assets/img/Icecrown.jpg" alt="Fourth slide">
      <div class="carousel-caption localAvatar">
        <img class="avatar" src="./../../assets/img/avatarlichking.png" alt="">
        <span>"Let them come. Frostmourne hungers."</span>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="./../../assets/img/murlocs.jpg" alt="Fifth slide">
      <div class="carousel-caption localAvatar">
        <img class="avatar" src="./../../assets/img/avatarmurloc.png" alt="">
        <span>"Mrglgrlgrlgrlgrl Mrglgrlgrlgrlgrl!!!!"</span>
      </div>
    </slide>
  </carousel>
</div>



