<nav>
  <div class="nav-wrapper kz_nav">
    <a class="brand-logo" routerLink="">Dribbble</a>
    <a data-activates="mobile-demo" class="button-collapse" routerLink=""><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/shots">Listar Shots</a></li>
      <li routerLinkActive="active"><a routerLink="/shots/buscaShots">Buscar Shots</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Buscar Shots</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row"></div>
  <router-outlet></router-outlet>
</div>

<footer class="page-footer kz_rodape">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img src="https://kmkz.000webhostapp.com/Horde.png"/>
        <span>For The Horde!</span>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a href="https://github.com/dannielsousa"><i class="fa fa-github" aria-hidden="true"></i> dannielsousa</a></li>
          <li><a href="https://www.linkedin.com/in/dannielsousa/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Danniel F. Sousa</a></li>
          <li><a href="https://www.dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i> www.dribbble.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>