  <div class="imagem_menu">
    <nav class="navbar navbar-default navigation ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="">Dribbble</a>
          <a class="navbar-brand" routerLink="/shots/listaShots">Listar Shots</a>
          <a class="navbar-brand" routerLink="/shots/buscaShots">Buscar Shots</a>
        </div>
      </div>
    </nav>
  </div>


<div class="kz_geral container">
  <div class="row content"></div>
  <router-outlet></router-outlet>
</div>

<footer class="page-footer kz_rodape">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="div">
          <img src="https://kmkz.000webhostapp.com/Horde.png" />
          <span>For The Horde!</span>
        </div>
      </div>
      <div class="col-xs-12 text-center kz_rodape_direito">
        <ul>
          <li><a href="https://github.com/dannielsousa"><i class="fa fa-github" aria-hidden="true"></i> dannielsousa</a></li>
          <li><a href="https://www.linkedin.com/in/dannielsousa/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Danniel F. Sousa</a></li>
          <li><a href="https://www.dribbble.com/"><i class="fa fa-dribbble" aria-hidden="true"></i> www.dribbble.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>