<div class="col-sm-6 col-sm-offset-3 kz_car">
  <carousel class="text-center">
    <slide>
      <img class="img-main-carousel" src="https://cdn.dribbble.com/users/31752/screenshots/3634954/exploration_1x.jpg" alt="First slide">
      <div class="carousel-caption">
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="https://cdn.dribbble.com/users/1068166/screenshots/3632683/dribbble_1x.gif" alt="Second slide">
      <div class="carousel-caption">
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="https://cdn.dribbble.com/users/124059/screenshots/3632406/shot_1x.png" alt="Third slide">
      <div class="carousel-caption">
      </div>
    </slide>
  </carousel>
</div>