@import "./../../assets/css/mains.scss";

hr {
    @include hrDefault;
}

hr:nth-child(3) {
    margin-top: 40px;
}


.kz_caixa_externa{
    font-size: 1em;
    span {
        display: block;
        font-weight: bold;
        text-decoration: none;
        @include fTransition(text-decoration);
    }

    span:first-child {
        margin-bottom: 30px;
        font-size: 1.4em;
    } 
}
.kz_caixa_externa a {
    color: black;
}

.kz_direita {
        opacity: 1;
    @include fTransition(opacity);
}

.kz_esquerda {
        opacity: 1;
    @include fTransition(opacity);

}

.kz_setaleft {
    margin: -5px 0 0 72px;
    @include fTransition(margin);
}
.kz_setaleftin {
    margin-left: 44px;
    @include fTransition(margin);
}
.kz_setaright{
    margin: -5px 0 0 447px;
    @include fTransition(margin);
}
.kz_setarightin {
    margin-left: 475px;
    @include fTransition(margin);
}

.kz_in {
    text-decoration: underline;
    @include fTransition(font);
}

.kz_out {
    opacity: 0.1;
    @include fTransition(opacity);
}