.left div, .right div {
    float: left;
    width: 59%;
    margin-left: 11%;
}
.left i, .right i {
    font-size: 47px;
    float: left;
    margin-left: 5%;
    margin-top: 6px;
    color: #1a5c02;
}

hr {
    border-top: 1px solid rgba(26, 92, 2, 0.3);
}

.caixa {
    width: 21%;
    float: left;
    margin-left: 20%;
    padding: 10px
}

.caixa:hover {
    border: 1px solid black;
}
