.left div, .right div {
    float: right;
    margin-right: 31%;
    width: 17%;
}
.left i, .right i {
    font-size: 47px;
    float: left;
    margin-left: 37%;
    margin-top: 4px;
    color: #1a5c02;
}

hr {
    border-top: 1px solid rgba(26, 92, 2, 0.2);
}
.left hr, .right hr {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

