<hr>
<div class="row" >
    <div class="col-xs-6 left text-center">
        <hr>
        <i class="fa fa-search" aria-hidden="true"></i> 
        <div>
            Utilize esta opção para buscar um SHOT pelo seu id.
        </div>
    </div>
    <div class="col-xs-6 right">
        <hr>
        <i class="fa fa-list" aria-hidden="true"></i>
        <div>
            Utilize esta opção para exibir uma lista varios SHOTS.
        </div>
    </div>
</div>

<hr>

<div class="row">
    <app-carrossel> </app-carrossel>
</div>
<div class="row">
    <h1>Lrem Impsujm</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, mollitia nam accusantium dolorem veritatis eos quam nisi laboriosam necessitatibus, rem obcaecati aliquid vel aspernatur impedit laudantium ipsa, est, maxime autem!</p>
    <h2>Lorem ipsum lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
    <h3>Lorem ipsum lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
    <h3>Lorem ipsum lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
    <h3>Lorem ipsum lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
    <h3>Lorem ipsum lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
    <h3>Lorem ipsum lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
</div>
