<hr>
<div class="row kz_caixa_externa">
    <span class="text-center">SHOTS</span>
    <a routerLink="/shots/buscaShots">
    <div class="col-xs-6 col-md-6 left text-center kz_esquerda">
        <span>By ID</span>
        <span>Utilize esta opção para buscar um SHOT pelo seu id.</span>
    </div>
    </a>
    <a  routerLink="/shots/listaShots">
    <div class="col-xs-6 col-md-6 right text-center kz_direita">
        <span>All Shots</span>
        <span> Utilize esta opção para exibir uma lista varios SHOTS. </span>
    </div>
    </a>
</div>

<hr>

<div class="row">
    <app-carrossel> </app-carrossel>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Lrem Impsujm</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, mollitia nam accusantium dolorem veritatis
            eos quam nisi laboriosam necessitatibus, rem obcaecati aliquid vel aspernatur impedit laudantium ipsa, est, maxime
            autem!</p>
        <h2>Lorem ipsum lorem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus
            sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
        <h3>Lorem ipsum lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus
            sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
        <h3>Lorem ipsum lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus
            sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
        <h3>Lorem ipsum lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus
            sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
        <h3>Lorem ipsum lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus
            sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
        <h3>Lorem ipsum lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nesciunt. Quo ipsa et eos, eum amet, accusamus
            sint, sequi molestias corporis placeat reprehenderit aliquam dolor eius quisquam sapiente nesciunt pariatur?</p>
    </div>
</div>